master_node_count = {{ MASTER_NODE_COUNT }}
master_name_prefix = "{{ MASTER_NAME_PREFIX }}"
slave_node_count = {{ SLAVE_NODE_COUNT }}
slave_name_prefix = "{{ SLAVE_NAME_PREFIX }}"
availability_zone = "{{ AVAILABILITY_ZONE }}"
keypair = "{{ KEYPAIR }}"
flavor_id = "{{ FLAVOR_ID }}"
domain = "{{ DOMAIN }}"
subdomain = "{{ SUBDOMAIN }}"
dns_ttl = {{ DNS_TTL }}
image_id = "{{ IMAGE_ID }}"
