peer_node_count = {{ PEER_NODE_COUNT }}
peer_name_prefix = "{{ PEER_NAME_PREFIX }}"
availability_zone = "{{ AVAILABILITY_ZONE }}"
keypair = "{{ KEYPAIR }}"
flavor_id = "{{ FLAVOR_ID }}"
domain = "{{ DOMAIN }}"
subdomain = "{{ SUBDOMAIN }}"
dns_ttl = {{ DNS_TTL }}
image_id = "{{ IMAGE_ID }}"
volume_size = "{{ VOLUME_SIZE }}"
