global
  log /dev/log    local0
  log /dev/log    local1 notice
  chroot /var/lib/haproxy
  user haproxy
  group haproxy
  daemon

defaults
  log     global
  mode    http
  option  httplog
  option  dontlognull
  contimeout 5000
  clitimeout 50000
  srvtimeout 50000
  errorfile 400 /etc/haproxy/errors/400.http
  errorfile 403 /etc/haproxy/errors/403.http
  errorfile 408 /etc/haproxy/errors/408.http
  errorfile 500 /etc/haproxy/errors/500.http
  errorfile 502 /etc/haproxy/errors/502.http
  errorfile 503 /etc/haproxy/errors/503.http
  errorfile 504 /etc/haproxy/errors/504.http

userlist chirp_users
  user {{ chirp.username }} insecure-password {{ chirp.password }}

frontend http
  mode http
  bind *:80

  acl auth_ok http_auth(chirp_users)
  http-request auth if !auth_ok

  default_backend www_backend
  acl www_flag hdr(host) -m beg www.
  acl mon_flag hdr(host) -m beg mon.
  acl kib_flag hdr(host) -m beg kib.

{% for app in apps %}
  acl {{app.prefix}}_flag hdr(host) -m beg {{app.prefix}}.
{% endfor %}

  use_backend www_backend if www_flag
  use_backend mon_backend if mon_flag
  use_backend kib_backend if kib_flag

{% for app in apps %}
  use_backend {{app.prefix}}_backend if {{app.prefix}}_flag
{% endfor %}

backend www_backend
  balance leastconn
{% for host in groups[peer_group] %}
  server www-{{host.split('.',1)[0]}} {{ host }}:8080 check
{% endfor %}
backend mon_backend
  balance leastconn
{% for host in groups[peer_group] %}
  server mon-{{host.split('.',1)[0]}} {{ host }}:3737 check
{% endfor %}
backend kib_backend
  balance roundrobin
{% for host in groups[peer_group] %}
{% if loop.first %}
  server kib-{{host.split('.',1)[0]}} {{ host }}:5601 check
{% else %}
  server kib-{{host.split('.',1)[0]}} {{ host }}:5601 check backup
{% endif %}
{% endfor %}


{% for app in apps %}
backend {{app.prefix}}_backend
  balance leastconn
{% for host in groups[peer_group] %}
  server {{app.prefix}}-{{host.split('.',1)[0]}} {{ host }}:{{app.port}} check
{% endfor %}
{% endfor %}
