<h1>Global Twitter harvesting project</h1>
<em>Powered by Team 19</em>
<p>Web page developing...</p>
<h2>Review a single tweet</h2><hr>
<p>Typing http://144.6.226.184:3030/twitter/‘TwitterID’ to get a single twitter detail</p>
<em>e.g. <a href="http://144.6.226.184:3030/twitter/591823382628413440">http://144.6.226.184:3030/twitter/591823382628413440</a></em>
<p><em><a href="http://144.6.226.184:3030/twitter/591828256984276993">Click to view an example negative tweet</a></em></p>

<h2>Search by particular tweet</h2><hr/>
